tqdm
requests
joblib
pyarrow
sqlalchemy
psycopg2-binary 
evidently
pandas>=1.1.5
numpy
scikit-learn
jupyter
matplotlib
python-dotenv
mlflow
google-cloud-storage
dvc
dvc-gs
#prometheus-fastapi-instrumentator==5.7.1
#requests>=2.27.1
#fastapi